html, body{
padding:30px;
margin-top:50px;
background-color:rgb(173, 201, 247,.5);
background-image: url("../images/body-bg.gif");
}

h1,p{

   color:white; 
}
.logo3{

    width: 200px;
    height:80px;
    /* padding-left:30px; */
    margin-left:50%;
    }

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: rgb(66, 62, 62);
    color: white;
}

.nav-link{

    color:white !important;
    
    }

    .footer{

        position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: rgb(12, 12, 12);
           /* color: white; */
           text-align: center;
           z-index: 99;
       }