body{
 
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serf;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
    background-color:rgb(173, 201, 247,.5);
    background-image: url("../images/man.jpg");

    position: relative;
/* opacity:0.60; */
background-position:center;
background-size:cover;
background-repeat:no-repeat;
/* fixed = parallax */
/* scroll = normal */
background-attachment: fixed;
}

#our{

margin-top:10%;
width:40%;
padding-right:250px;
padding-left:80px;


}

/* logo in navbar */

     .newLogo{

        width: 100px;
        height:40px;
        /* padding-left:30px; */
        margin-left:50%;
        }


/* tape image  */
    .icon2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:10px;
         width:30px;
        height:30px;
            
     }


/* .section{
padding-top:20px;
padding-right:80px;
padding-left:80px;

} */

.family{

    margin-top:10px;

}
.label{

    text-align: center;
    
    padding-left:100px;
    padding-right:100px;

}

.nav-link{

    color:white !important;
    
    }