body{
 
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serf;
    font-weight: 400;
    line-height: 1.8em;
    color: rgba(15, 12, 12, 0.4);
    background-color:rgb(173, 201, 247,.5);
}


/* 
.pic_Ceo{
    margin-top:300px;
    position: relative;
    /* opacity:0.60; */
    /* background-position:center; */
    /* background-size:cover; */
    /* background-repeat:no-repeat; */
    /* fixed = parallax */
    /* scroll = normal */
    /* background-attachment: fixed; */
    
    /* } */ 
    
    /* .pic_Ceo{

       
         
        
        
        } */



            
/* .studio{

 background-image: url("..images/studio_cousin_HR.jpg");

     } */

    .studio{
margin-top:60px;

    }
     .newLogo{

        width: 100px;
        height:40px;
        /* padding-left:30px; */
        margin-left:50%;
        }

    .icon2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:10px;
    width:30px;
    height:30px;
            
     }

.section{
padding-top:20px;
padding-right:80px;
padding-left:80px;

}

.family{

    margin-top:20px;

}
.label{

    text-align: center;

}